/* Exclusively for the page heading */
.main-title {
    font-family: "Cabin", sans-serif;
    display: flex;
    position: relative;
    justify-content: center;
    max-width: fit-content;
    max-height: fit-content;
    border: none;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    background-color: #340404;
}

/* For the page body text*/
.body-text {
    color: #c3c3c3;
    border-radius: 5px;
    max-width: 800px;
    max-height: 600px;
    font-family: "Cabin", sans-serif;
    text-align: center;
    margin: auto;
    padding: 2em;
    line-height: 1.7em;
    box-shadow: 0 0 7px black;
}

#audio-player {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    padding-top: 5px;
}

#audio-player button {
    flex: 1;
    max-width: 100%;
    max-height: fit-content;
    border: none;
    background-color: white;
    font-family: "Cabin", sans-serif;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 5px;
}

.home-logo {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 0.25em;
    width: 80px;
}

#mario {
    display: flex;
    position: relative;
    justify-content: center;
    width: 150px;
    margin-left: auto;
    margin-right: 0;
}

body {
    background-color: #4e1e1e;
}

a:link {
    color: white;
}

a:visited {
    color: grey;
}

#calendar {
    /* Top Right Bottom Left */
    margin: 2em auto 2em auto;
}

#calendar iframe {
    display: flex;
    position: relative;
    justify-content: center;
    margin: auto;
    width: 98%;
    max-width: 900px;
    min-height: 30.7em;
    border-radius: 5px;
}

#broadcastrange {
    margin: 2em auto 2em auto;
}

#broadcastrange img {
    display: flex;
    position: relative;
    justify-content: center;
    margin: auto;
    max-width: 495px;
    width: 98%;
    border-radius: 5px;
}

/* div for homepage footers */
#footers-main {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    text-align: center;
    margin: 2em auto auto;
}

/* All footers */
footer {
    max-width: 40%;
    font-family: "Cabin", sans-serif;
    color: #c3c3c3;
    background-color: #340404;
    border: none;
    border-radius: 5px;
    position: relative;
    bottom: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
}

/* Left homepage footer - address*/
.left_footer {
    left: 0;
    margin-right: auto;
}

/* Right homepage footer - studio phone */
.right_footer {
    margin-left: auto;
    right: 0;
}

/* Banner Code Inspired by W3Schools */

.main-banner {
    list-style-type: none;
    background-color: #340404;
    border: none;
    border-radius: 5px;
    margin: 0 0 2em;
    padding: 0;
}

.main-banner-content {
    display: inline;
}

/* Dropdown Code Inspired by W3Schools */

/* Dropdown Button */
.dropbtn {
    display: flex;
    position: relative;
    justify-content: center;
    font-family: "Cabin", sans-serif;
    font-size: larger;
    color: #c3c3c3;
    background-color: #af1919;
    border: 2px solid #340404;
    border-radius: 5px;
    padding: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
    position: relative;
    left: 0.75em;
    top: 0.2em;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    z-index: 1;
    border: none;
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: #af1919;
    min-width: 150px;
    font-family: "Cabin", sans-serif;
    font-size: medium;
    color: black;
}

/* Links inside the dropdown */
.dropdown-content a {
    border-radius: 5px;
    color: #c3c3c3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #a34949;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #a34949; box-shadow: none;}

/* Show the dropdown menu on click */
.show {display: block;}
