.footer {
/*    position: relative;*/
    width: 100vw;
    background-color: #231f20ff;
    padding: 10px;
}

#footer-left {
    display: inline-block;
    float: left;
}

#footer-right {
    text-align: right;
    display: inline-block;
    float: right;
}
