#audio-player {
    display: flex;
    position: sticky;
    bottom: -0.1em;
    z-index: 1000;
    align-items: center;
    background-color: #231f20ff;
    gap: 25px;
    padding: 10px 0 10px 1em;
}

#audio-player #playpause {
    width: 32px;
    height: 38px;
    background-color: white;
    cursor: pointer;
    vertical-align: middle;
    text-align: left;
    border-radius: 5px;
    padding: 2px;
    flex-shrink: 0;
}

#play_indicator {
    flex-shrink: 0;
    opacity: 0;
}

#streamlink {
   background: none;
   border: none;
   color: #c3c3c3;
}



#copyconfirm {
   float: left; 
   position: relative;
   display: block;
   opacity: 0;
   padding: 0.5em;
   border-radius: 5px;
   background-color: black;
   text-align: center;
   align-content: center;
   transform: translate(-10%,0);
}

input#volume {
    margin-left: 1em;
    vertical-align: middle;
}


.blink-in {
    animation: blink ease 1s;
    animation-fill-mode: forwards
}
.shake {
    animation: shake ease 0.2s;
    animation-fill-mode: forwards
}

@keyframes blink {
      0% { opacity: 1;}
     50% { opacity: 1;}
    100% { opacity: 0;}
}

@keyframes shake {
      0% { transform: rotate(0);}
     25% { transform: rotate(20deg);}
     75% { transform: rotate(-20deg);}
    100% { transform: rotate(0);}
}

@supports (-webkit-touch-callout: none) {
  .ios-hidden {
    display: none;
  }
}